.notification-area {
    display: flex;
    height: 25%;
    width: 100%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.notification-text {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(51, 132, 51);
}